@charset "UTF-8";

@font-face {
    font-family:'OpenSans-Regular';
    src: url(../fonts/Open_Sans/static/OpenSans/OpenSans-Regular.ttf);
}

@font-face {
    font-family:'SourceSerifPro-Regula';
    src: url(../fonts/Source_Serif_Pro/SourceSerifPro-Regular.ttf);
}
/*VARIÁVEIS - PALETA DE CORES E FONTES*/
:root {
    --cor0: #fbfbfb;
    --cor1: #4E0B18;
    --cor2: #7D7A7B;
    --cor3: #C9C5C6;
    --cor4: #FCF7F9;

    --font-titulo:'OpenSans-Regular';
    --font-texto:'SourceSerifPro-Regula';
}

* { /*RESET DE PÁGINA*/
    margin: 0px;
    padding: 0px;
}

body {
    background-color:var(--cor0);
}
header {

}

nav {
    background-color: var(--cor2);
}

footer {
    background-color:var(--cor2);
    color: var(--cor1);
}
